.header {
  background: #0e1114;
  color: #fff;
}

body {
  background-color: #0e1114;
  color: #bdbdbd;
}

input, select, button {
  background-color: #0e1114;
  color: #bdbdbd;
}

.footer button {
  border-color: #fff;
  background-color: #0e1114;
  color: #fff;
}

.footer button:hover {
  background-color: #fff;
  color: #333;
}

.remix button {
  border-color: #fff;
  color: #fff;
}

.remix button:hover {
  background-color: #fff;
}


#commands button {
  border-color: #cccccc;
  background-color: #0e1114;
  color: #cccccc;
}

#commands button:hover {
  background-color: #fff;
  color: #0e1114;
}

.notSupported, .notSupported a {
  background-color: red;
  color: white;
}

.firmware {
  border-color: #717171;
}

.firmware:focus,
.firmware:hover {
  background-color: #fff;
  color: #0e1114;
}

.firmware:disabled {
  color: #ccc;
  border-color: #ccc;
}

.firmware:disabled:hover {
  background-color: #fff;
}

input {
  background-color: #fff;
  color: #000;
}

#commands .buttons button:disabled,
#commands .buttons button:disabled:hover{
  border-color: #999;
  background-color: #888;
  color: #ccc;
}

#commands .buttons button:hover {
  background-color: #fff;
}

.progress-bar {
  border-color: #fff;
}
